<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium voluptatibus voluptates voluptate omnis modi sed earum! Distinctio voluptas omnis voluptatum a ad odio earum minima illum sapiente aperiam? Iure culpa officiis eaque. Consequatur libero pariatur id porro nisi reiciendis tempora est dolore voluptatum corporis, quidem reprehenderit quibusdam ullam repellendus? Nesciunt libero expedita hic, enim quaerat quisquam fuga temporibus optio delectus natus adipisci sunt, sequi, unde consequuntur ullam autem. Accusamus voluptatibus fugiat nam maxime ex consectetur porro quod eum, nesciunt tempore pariatur sunt laborum officiis corporis earum alias! Totam fuga quae laborum a facilis omnis ad obcaecati impedit quibusdam ea fugit mollitia aliquid voluptatum facere necessitatibus, sed commodi quaerat laboriosam! Ipsum rem hic veritatis voluptates nulla laborum animi. Quo, a ipsam exercitationem cum non laborum distinctio possimus veniam animi incidunt molestias reiciendis necessitatibus quasi voluptates nulla iure voluptatum ipsa itaque facilis adipisci unde fugit! Iure reiciendis ratione dolore quos vel amet facilis! Facere consectetur, impedit similique officiis unde laborum vitae soluta, aliquid, iusto ex possimus corporis. Dignissimos nisi sit consectetur sed quasi assumenda accusantium rerum esse fugit eius? Ipsam soluta molestias ipsa sapiente eos nobis expedita illum accusamus adipisci pariatur placeat voluptas repellendus mollitia, laudantium itaque totam cupiditate dolores! Excepturi iure culpa aliquam tempore dolores magni, eaque voluptate nulla, aperiam dolorem, asperiores aspernatur molestiae obcaecati! Eos, sit aut facilis totam sint fugit, nam cumque exercitationem nemo neque expedita aliquid! Placeat ipsum non odio iste minima deserunt consectetur cumque consequuntur commodi eum temporibus, est praesentium eveniet unde vel. Sit, optio? Cupiditate praesentium iusto amet illo suscipit quasi blanditiis quae laborum accusamus. Aliquid eveniet in voluptatibus saepe quasi officia deleniti fuga illo, alias minus maiores placeat laborum deserunt quam rem ipsum facere, quaerat a nisi dolor fugit nostrum necessitatibus itaque dignissimos? Sunt nulla maiores totam quaerat vel expedita tempora similique rerum consequuntur alias.
            </p>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>

</html>